@inherits ReactiveComponentBase<SearchViewModel>
@inject SearchViewModel SearchViewModel
@page "/Search"
<h3>Search</h3>
<p>
    <MatTextField @bind-Value="ViewModel.SearchText" Dense="true" Label="Search the interweb" TextArea="true" FullWidth="true" />
</p>
<p>
    <div>
        @if (ViewModel.SearchResults.Any())
        {
            @foreach (var relatedTopic in ViewModel.SearchResults)
            {
                <div><p>@relatedTopic.Text</p></div>
            }
        }
    </div>
</p>
@* <div class="mat-layout-grid"> *@
@*     <div class="mat-layout-grid-inner"> *@
@* *@
@*         <CardView/> *@
@* *@
@*         <CardView/> *@
@* *@
@*         <CardView/> *@
@*     </div> *@
@* </div> *@

<style>
    .demo-mat-card {
        max-width: 400px;
    }

    .demo-mat-card-content {
        padding: 1rem;
    }

    .demo-mat-card-clean-margin {
        margin: 0px;
    }
</style>
